.banner__slider .slide .slide__content.slide__content__left .slide__content_details{
display:none !important;
}

.dark-switch{
    display:none !important;
}

.custom-review{
    padding: 10px;
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    display: inline-flex !important;
    background: #ffffffab;
}

.footer-content .brands .client-logo >img{
    max-width: 130px;
}
.footer-content .brands {
    justify-content: center;
    margin: 0 auto;
    gap: 20px 50px;
}


@media only screen and (max-width: 575px) {
    .footer-content .brands {
        max-width:100%;
        gap: 20px 0px;
    }
    .footer-content .brands .client-logo >img{
        max-width: 80px;
    }
}

@media only screen and (min-width: 768px) {
.my-account-list {
    align-self: self-start;
    position: sticky;
    top: 200px;
}
}